* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    line-height: 1.6;
    background: linear-gradient(135deg, #2c2f33, #0A0A23);
    color: #f5f5f5;
}

body::-webkit-scrollbar{
    width: 12px;
    height: 12px;
}

body::-webkit-scrollbar-track{
    background: #2c2f33;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb{
    background: #607ff1;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover{
    background: #b2eef8;
}

body::-webkit-scrollbar-corner{
    background-color: #2c2f33;
}

/*----------NAVBAR-----------*/

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100px;
    background: #333;
    color: #fff;
    padding: 20px;
}

.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-photo{
    width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.toggle-button{
    display: none;
}

.toggle-button img{
    width: 30px;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav ul li{
    margin: 15px 0;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

nav .download_resume1{
    width: 170px;
    height: 40px;
    border-radius: 1.5rem;
    background-color: rgb(26, 164, 26);
}

.download_resume1 a{
    color: white;
    text-decoration: underline;
    font-size: 15px;   
}

.download_resume1 a:hover{
    color: #05dce3;
}

nav a:hover{
   color: #0f0f; 
}

/*----------SECTIONS---------*/
section{
    padding: 80px 20px;
    margin-left: 270px;
}

h1 h2 h3{
    margin-bottom: 20px;
}



/*---------HOME----------*/

.container{
    display: flex;
    flex-direction: row;
}

.container h1{
    font-size: 50px;
}

.welcome-section{
    margin-top: 35px;
}

.hello{
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 40px;
    color: 2c2c2c;
    font-size: 20px;
}

.name{
  margin-left: 70px;
  margin-bottom: 7px;
  font-size: 23px;
}

.description{
    display: flex;
    flex-direction: row;
    color: #bcbcd1;
    margin-left: 45px;
}

.description img{
    width: 20px;
    height: 20px;    
}

.description p{
    color: lightgray;
}

.view_projects{
    width: 120px;
    height: 40px;
    border-radius: 1.5rem;
    margin-top: 15px;
    background-color: rgb(77, 77, 223);
}

.view_projects:hover{
    background: linear-gradient(270deg, #2e2ed5, #7c7c86);
}

.view_projects a{
   color: #fff; 
   font-size: 13px;  
}

.download_resume2{
    width: 150px;
    height: 40px;
    border-radius: 1.5rem;
    margin-top: 50px;
    background-color: rgb(26, 164, 26);
    position: relative;
    top: 40px;
    left: 15px;
}

.download_resume2 a{
   color: #0A0A23;
}

.download_resume2:hover{
    background: linear-gradient(45deg, #36d52e, hsl(240, 45%, 57%));
}

.image-section img{
    width: 31rem;
}


/*-----------ABOUT ME------------*/

#about h1{
    font-size: 50px;
    margin-bottom: 15px;
}

#about .about-me{
   margin-bottom: 20px;
}

#about h2{
    margin-top: 40px;
    margin-bottom: 20px;
}

.download_resume3{
    position: relative;
    top: 5rem;
    left: 40rem;
    width: 150px;
    height: 40px;
    border-radius: 1.5rem;
    background-color: rgb(26, 164, 26);
}

.download_resume3:hover{
    background: linear-gradient(150deg, #36d52e, #05dce3);
}

.download_resume3 a{
    color: #0A0A23;
}

/*-----------MY SKILLS-----------*/

#skills h2{
    margin-top: 40px;
}

#skills .skills{
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

#skills .skills .skill{
    background-color: #fff;
    margin-right: 20px;
    padding: 10px;
    padding-bottom: 50px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

.skill img{
    width:100px;
}

 .labels{
   display: flex;
   flex-direction: row;
   margin-bottom: 20px;
}

#skills li{
    list-style-type: none;
    position: relative;
    top: 11rem;
    right: 7.1rem;
}

/*---------MY PROJECTS---------*/

#projects h2{
    margin-top: 50px;
}

#projects .projects{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}

.projects .project .frame{
    margin-right: 20px;
}

.frame img{
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 100%;
    height: 100%;
}

.project .description{
    color: #fff;
    margin-left: 20px;
    text-align: center;
}

.description p{
    margin-right: 3px;
    text-align: center;
}

/*--------CONTACT ME---------*/


#contact .contain{
    display: flex;
    flex-direction: row;
}

.mail{
    position: relative;
    bottom: 10rem;
    margin-top: 20rem;
}

.sendmessage{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0A0A23;
    background-color: #c6eef0;
    border-radius: 2rem;
    margin-left: 15rem;
    position: relative;
    bottom: 10rem;
    margin-top: 14rem;
}

.sendmessage form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 5rem;
}

.inputname input{
    height: 30px;
    width: 200px;
    border-radius: 20px;
    border-color: #fff;
}

.inputmessage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputmessage input{
   height: 2.5rem;
   width: 15rem;
   border-radius: 1px;
   border-color: #f5f5f5;
}

form button{
    width: 5rem;
    height: 2rem;
    border-color: #bcbcd1;
    border-radius: 2rem;
    margin-top: 2rem;
    background-color: #0b4294;
    color: #fff;
}

/*---------FOOTER-----------*/
footer{
    text-align: center;
    padding: 20px;
}


/*------------------Customization for tablets------------------*/



@media (max-width: 1000px) {

    section{
        padding: 50px 350px;
        margin-left: 270px;
    }


    .toggle-button{
        background: none;
        display: flex;
        padding: 14px 20px;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        transition: left 0.3s ease;
    }

    .navbar{
        position: relative;
        width: 100%;
        
    }

   .nav-links{
    display: none;
    flex-direction: column;
    width: 100%;
   }
   
   header{
    background: transparent;
   }
   
   header.active{
     background-color: #333;
   }
 
   .nav-links.active{
    display: block;
   }


    section {
        margin-left: 0; 
    }

    .container {
        flex-direction: column; 
    }

    .image-section img {
        margin-top: 50px;
        width: 100%; 
    }

    .download_resume1, .download_resume2, .download_resume3 {
        width: 100%; 
        height: 40px;
        margin: 10px 0; 
    }


    .welcome-section h1 {
        font-size: 30px; 
        white-space: nowrap;
    }

    .hello {
        font-size: 20px;
    }

    .name {
        font-size: 21px; 
    }
    
    .welcome-section .description{
        font-size: 15px;
    }

    .view_projects, .download_resume2 {
        width: 50%; 
    }

    .view_projects a{
        font-size: 11px;
    }

    .download_resume2 a{
        font-size: 11px;
    }
    
    #About p{
        font-size: 12px;
    }

    .download_resume3{
        bottom: 0.5px;
        left: 7px;
    }

    .download_resume3 a{
        font-size: 10px;
    }

    #skills .skills {
        flex-direction: column; /* Stack skills vertically */
        padding: 20%;
    }

    #skills h2 {
        margin-top: 50px;
        margin-bottom: 0;
    }

    .skills li{
        display: none;
    }

    .skill{
        margin-bottom: 7px;
    }

    #projects .projects {
        flex-direction: column; 

    }

    .project{
        border-radius: 0;
        font-size: 8px;
    }

    .projects .project .frame{
        padding: 0;
        background: none;
    }

    .project .description{
        font-size: 15px;
        margin-bottom: 50px;
    }

    .frame img {
        width: 100%; 
        border-radius: 5px;
    }

    .sendmessage {
        display: none;
    }
}
